.container{
    height: auto;
    
    
}
.wrapper{
    overflow: hidden;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    z-index: 1;
    cursor: text;

}
.heading{
    font-size:32px;
    color: rgb(97, 156, 223);
    font-weight: 700;
    margin-top: 20px;
}
.listItems{
    position: relative;
    left: 50px;
    color: #9599A0;
    font-size: 24px;
    line-height: 46px;
    margin-top: 20px;
    
}.contactLinks{
    color: #9599A0;
    text-decoration: none;
}
.listItems>li{
    list-style-type: square;
    font-family: 'Source Code Pro', monospace;
    
}